In [1]:
import requests
import pandas as pd

In [10]:
api_url = "https://jsonplaceholder.typicode.com/todos/1"
response = requests.get(api_url)
response.json()

{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

In [11]:
response.status_code  ## http status code

200

In [12]:
response.headers["Content-Type"]  ## response's HTTP headers

'application/json; charset=utf-8'

### POST

POST can be used to send data to a REST API to create a new resource

Let us include a JSON data in the request

{

    "userId": 1,
    
    "title": "Buy milk",
    
    "completed": false
    
}

In [13]:
api_url = "https://jsonplaceholder.typicode.com/todos"
todo = {"userId": 1, "title": "Buy milk", "completed": False}
response = requests.post(api_url, json=todo)
response.json()

{'userId': 1, 'title': 'Buy milk', 'completed': False, 'id': 201}

In [14]:
response.status_code

201

In [16]:
df = pd.DataFrame([response.json()])
df

   userId     title  completed   id
0       1  Buy milk      False  201